<article class="card">
    <div class="card__image__container">
        <img class="card__image" src="images/testimonial.jpg" alt="">
    </div>
    <div class="card__content">
        <a href="#" class="tag">Technology</a>
        <a href="#">
            <h3 class="card__heading">The Impact of Technology on the Workplace: How Technology is Changing</h3>
        </a>
        <div class="card__extra_content">
            <div class="card__author">
                <div class="card__author__image_container">
                    <img class="card__author__image" src="images/testimonial.jpg" alt="">
                </div>
                <p class="card__author__name">Tracey Wilson</p>
            </div>
            <p class="card__date">August 20, 2022</p>
        </div>
    </div>
</article>
