<section class="post--detail">
    <div class="card__content ">
        <a href="#" class="tag">Technology</a>
        <a href="#">
            <h2 class="card__heading">The Impact of Technology on the Workplace: How Technology is Changing</h2>
        </a>
        <div class="card__extra_content">
            <div class="card__author">
                <div class="card__author__image_container">
                    <img class="card__author__image" src="images/testimonial.jpg" alt="">
                </div>
                <p class="card__author__name">Tracey Wilson</p>
            </div>
            <p class="card__date">August 20, 2022</p>
        </div>
    </div>
    <div class="post--detail__content">
        <div class="post--detail__img__container">
            <img class="post--detail__image" src="images/hero-img.jpg" alt="">
        </div>
        <p>Traveling is an enriching experience that opens up new horizons, exposes us to different cultures, and
            creates memories that last a lifetime. However, traveling can also be stressful and overwhelming,
            especially if you don't plan and prepare adequately. In this blog article, we'll explore tips and tricks
            for a memorable journey and how to make the most of your travels.</p>

        <p>Traveling is an enriching experience that opens up new horizons, exposes us to different cultures, and
            creates memories that last a lifetime. However, traveling can also be stressful and overwhelming,
            especially if you don't plan and prepare adequately. In this blog article, we'll explore tips and tricks
            for a memorable journey and how to make the most of your travels.</p>

        <h3>Research Your Destination</h3>

        <p>Traveling is an enriching experience that opens up new horizons, exposes us to different cultures, and
            creates memories that last a lifetime. However, traveling can also be stressful and overwhelming,
            especially if you don't plan and prepare adequately. In this blog article, we'll explore tips and tricks
            for a memorable journey and how to make the most of your travels.</p>

        <p>Traveling is an enriching experience that opens up new horizons, exposes us to different cultures, and
            creates memories that last a lifetime. However, traveling can also be stressful and overwhelming,
            especially if you don't plan and prepare adequately. In this blog article, we'll explore tips and tricks
            for a memorable journey and how to make the most of your travels.</p>
    </div>

</section>
